body {
  background-color: White;
}
p {
  color: Black;
}
#b {
 display: flex;
 height: 128px;
 max-width: 96px;
}
.b {
  height: 112px;
  max-width: 112px;
  display: block;
  margin: 1px;
  z-index: 0;
}
#c {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(3, auto);
}
#a:hover {
  cursor: pointer;
}
#q{
  animtion: none;
}
@keyframes q {
  0%  {transform: rotate(0deg);}
  10% {transform: rotate(2.5deg);}
  20% {transform: rotate(5deg);}
  30% {transform: rotate(7.5deg);}
  40% {transform: rotate(10deg);}
  50% {transform: rotate(12.5deg);}
  60% {transform: rotate(15deg);}
  70% {transform: rotate(17.5deg);}
  80% {transform: rotate(20deg);}
  90% {transform: rotate(22.5deg);}
  100% {transform: rotate(25deg);}
}
@keyframes qq {
  100%  {transform: rotate(0deg);}
  90% {transform: rotate(2.5deg);}
  80% {transform: rotate(5deg);}
  70% {transform: rotate(7.5deg);}
  60% {transform: rotate(10deg);}
  50% {transform: rotate(12.5deg);}
  40% {transform: rotate(15deg);}
  30% {transform: rotate(17.5deg);}
  20% {transform: rotate(20deg);}
  10% {transform: rotate(22.5deg);}
  0% {transform: rotate(25deg);}
}
#p3 {
  position: static;
  background-repeat: no-repeat; 
  background-size: contain; 
  z-index: 1;
}
#clearBtn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
}
